<div id='gamble' class='page_correct well'>
  <h1>You have <span class='green_money'>$<%= session[:player_money].to_s %></span></h1>
  <br />
  <h2>How much would you like to wager <%= session[:player_name] %>?</h2>
  <br />
  <form action='/bet' method='post'>
    <input type='text' name='player_bet' placeholder='Enter bet here...' />
    <br />
    <input type='submit' class='btn btn-success' value='Place bet' />
  </form>
</div>