<div class="page_correct">
  <div class="well">
    <h1>Welcome to Blackjack</h1>

    <form action='/game_start' method='post'>
      <input type='text' name='player_name' class='name_input' placeholder='and your name is...'/>
      <br />
      <input type='submit' class='play_button btn btn-success' value='Play!'/>
    </form>
  </div>
</div>