<div class="page_correct">
  <h1> What is your name? </h1>

  <form action='/game_start' method='post'>
    <input type='text' name='player_name'/>
    <br />
    <input type='submit' class='btn'/>
  </form>

</div>