/* red - #4D161B  */
/* tan - #D7BDA0  */
/* ltan- #FCE8D2  */
/* blue- #2E2F39  */

/* sharp-green - #6FF084 */
* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: 'Cherry Swash', cursive;
  color: #4D161B;
}

body {
  background: url('/images/dimension.png');
  font-family: 'Cherry Swash', cursive;
  border-top: 10px solid #4D161B;
}

.alert {
  font-size: 1.3em;
}

.success {
  font-size: 1.3em;
}

.page_correct {
  margin-top: 15%;
  text-align: center;
}

.page_correct h1 {
  color: #4D161B;
}

.page_correct h2 {
  color: #4D161B;
}

.page_correct {
  color: #4D161B;
}

form#hit_button {
  float: left;
  margin-left: 10px;
}

form#stay_button {
  float: left;
}

img.card_image {
  margin: 5px;
}

h1 {
  font-size: 500%;
}

input.name_input {
  width: 725px;
  height: 30px;
  position: relative;
  left: 10px;
  top: 20px;
  font-size: 20px;
  text-align: center;
  font-style: italic;
}

input.play_button {
  position: relative;
  top: 20px;
  color: white;
  font-weight: bold;
  width: 180px;
  height: 40px;
  font-size: 1.4em;
  font-family: 'Cherry Swash', cursive;
}

.alert {
  text-align: center;
}

.error {
  text-align: center;
}

a.new_game {
  background-color: red;
  background-color: #6FF084;
  color: white;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
  font-weight: bold;
  width: 180px;
  height: 40px;
  font-size: 1.2em;
  margin: 10px;

}

h4.center_name {
  text-align: center;
  color: #4D161B;
  position: relative;
  bottom: 20px;
  font-weight: 20px;
}

#bet_interface form {
  display: inline;
  float: right;
  position: relative;
  right: 50px;
}

#bet_interface input {
  margin: 0 15px;
  color: white;
  width: 120px;
  height: 35px;
  font-size: 25px;
  font-family: 'Cherry Swash', cursive;
}

input.dealer_hit {
  font-family: 'Cherry Swash', cursive;
}

.green_money {
  color: #5BB75B;
}

.btn-success {
  font-family: 'Cherry Swash', cursive;
}













